@model OdeToColoradoBeer.Models.AboutModel
@{
    ViewBag.Title = "About";
}
@section featured2 {

test
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Model.WebsiteName</h2>  
</hgroup>

<h1>@Model.Name</h1>
<h1>@Model.Location</h1>

@*<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>*@